{{> head}}


    {{> navBar}}
   <div class="row">
    <div class="col-8">
        <h1>Lenncker</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquid sapiente modi exercitationem odit rem consequuntur distinctio eius doloremque facere dolorum, adipisci accusantium. Accusamus aspernatur repellat recusandae, corrupti expedita cupiditate!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/Logo.png" alt="img-thumbnail">
    </div>
   </div>

   {{> footer}}